* {
 font-family: 'Alegreya', serif;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.html{
  padding: 0px;
  margin: 0px;
    }
.row {
  padding: 0px;
  margin: 0px;
}

.container-fluid{
  padding: 0px;
}


/* Button styling */
.btn{
  border: solid black 2px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  background-color: #bbbbcc;
  -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
       transition: all .3s ease-in-out;
  }

.btn:focus, .btn:active, .btn.active, .btn:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:hover {
  background-color:rgb(153,119,119);
   background-color:rgba(153,119,119,.9);
  color: white;
  -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
       transition: all .3s ease-in-out;
}

/*Icons for Buttons */

.twitter-black{
  background: url("http://res.cloudinary.com/dh82iies5/image/upload/v1455906154/twitter-16_f4wleu.png") no-repeat; border: none;
  width: 16px;
  height: 16px;
  margin-top: 5px
}
.twitter-white{
  background: url("http://res.cloudinary.com/dh82iies5/image/upload/v1458590562/twitter-16-white_xmvndq.png") no-repeat; border: none;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  display: none;
}

.github-black{
  background: url("http://res.cloudinary.com/dh82iies5/image/upload/v1456158297/GitHub-Mark-32px_mvxz9r.png") no-repeat; border: none;
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.github-white{
  background: url("http://res.cloudinary.com/dh82iies5/image/upload/v1456182422/GitHub-Mark-Light-32px_ilzn15.png") no-repeat; border: none;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  display: none;
}

.linked-black{
  background: url("http://res.cloudinary.com/dh82iies5/image/upload/c_scale,w_16/v1455906007/linkedin-16_rvgpmw.png") no-repeat; border: none;
  width: 16px;
  height: 16px;
  margin-top: 4px;
}
.linked-white{
  background: url("http://res.cloudinary.com/dh82iies5/image/upload/v1456183518/linkedin-16-_white_efxtpb.png") no-repeat; border: none;
  width: 16px;
  height: 16px;
  margin-top: 4px;
  display: none;
}

.email-black{
  background: url("http://res.cloudinary.com/dh82iies5/image/upload/c_scale,h_22/v1457548083/email-4096-black_vdvslz.png") no-repeat; border: none;
  width: 19px;
  height: 19px;
  margin-top: 4px;
  margin-right: 0;
}
.email-white{
  background: url("http://res.cloudinary.com/dh82iies5/image/upload/c_scale,h_22/v1457548965/email-4096-white_bfocyn.png") no-repeat; border: none;
  width: 19px;
  height: 19px;
  margin-top: 4px;
  margin-right: 0;
  display: none;
}

a.black-hover{
  color:black;
  text-decoration: none;
  }
a.black-hover:hover{
  color: white;
}
 
/* Navbar Styling */
.navbar{
  background: #9E9E9E;
  padding: 5px;
  border: 0;
  margin: 0;
  width: 100%;
  
}

.navbar ul{
  list-style-type: none;
}
.navbar a{
  color: #212121;
}
.bigger{
  font-size: 18px;
 }
.nav-item{
  line-height: 5px;
  height:100%;
}  

.background{
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
 background-image:url('https://res.cloudinary.com/dh82iies5/image/upload/v1457559307/desk-1220052_1920_i4egba.jpg');
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Hero Styling */
.hero-unit{
  min-height: 500px;
}
  
.title{
  text-align: center;
  color: #212121;
  padding-top: 100px;
}

.title h1{
  padding-bottom: 10px;

  color: black;
  font-size: 50px;
  
}

.title p{
  padding-bottom: 0px;
  color: #212121;
  font-size: 20px;
  font-weight: bold;
}

hr {
  width: 70%;
  margin-top: 2px;
  border-color: #665555;
}

.hero-unit button{
  margin: 10px;
  font-size: 17px;
}

.img-btn{
 padding: 7px;
 font-size: 20px
}

/* about section */
.about-me h1{
  color: black;
  text-align: center;
}
.about-me p{
  font-size: 15px;
  color: #212121;
  padding: 3px 10px;
}

@media(min-width: 786px){
  .about-me h1{
    text-align: left;
  }
}

.selfie{
  border: 2px solid #997777;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
}

.easy-read{
  background: rgb(187,187,204);
  background: rgba(187,187,204,.6)
}

/*Portfolio Section */\

 .portfolio h1{ 
  color: black;
}

.portfolio h3{
color: #212121;  
}

.portfolio-ex{
  border: 1px solid black;
  width:99%;
  margin-top: 15px;
   -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
       transition: all .5s ease-in-out;
  margin-bottom: 10px;
  }
.portfolio-ex:hover{
  box-shadow: 3px 7px 5px black;
}
.inner-portfolio{
 background-image:url('http://res.cloudinary.com/dh82iies5/image/upload/v1456519610/workinprogress_svsbmq.jpg'); 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
   background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 400px;
  }

  .portfolio-link {
    height: 100%;
    width: 100%;
  }
  
  a.portfolio-link{
    text-decoration: none;
  }


.quote-generator{
 background-image:url('http://res.cloudinary.com/dh82iies5/image/upload/v1458696773/quote-generator_dxmpxl.png'); 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
   background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 400px;
  
}
.portfolio-title{
   background-color:rgb(0,0,0);
   background-color:rgba(0,0,0,.7);
  height: 85px;
  width: 400px;
  }


.portfolio-text{
  display: block;
  color: white;
  font-size: 22px;
  font-weight: bold;
   width: 100%;
  text-align: center;
}

.second-portfolio-text{
  display: block;
  color: white;
  font-size: 18px;
  font-style: italic;
   width: 100%;
  text-align: center; 
}

.overlay {
    width:100%;
    height:100%;
  line-height: 200px;
    display: inline-block;
  vertical-align: middle;
   background-color: rgb(0, 0, 0);
  background-color: rgba(0,0,0,.75);
    opacity:0;
  transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
   text-align: center;
   }
.overlay:hover{
  opacity: 1
}
/*Making portfolio examples responsive */
@media(min-width: 786px){
  .portfolio-ex{
  border: 1px solid black;
  width: 385px;
   
  }
.inner-portfolio{
  height: 190px;
  width: 355px;

}
  
.portfolio-title{
   background-color: rgb(0, 0, 0);
  background-color: rgba(0,0,0,.75);
  height: 80px;
  width: 355px;
}
.quote-generator{
    height: 190px;
  width: 355px;
}
}
@media (min-width: 992px){
    .portfolio-ex{
  border: 1px solid black;
  width: 325px;
   
  }
.inner-portfolio{
  height: 170px;
  width: 290px;

}
.portfolio-title{
   background-color: rgb(0, 0, 0);
  background-color: rgba(0,0,0,.75);
  height: 71px;
  width: 290px;
}
}

@media (min-width: 1200px) {
  
  .portfolio-ex{
  border: 1px solid black;
   width: 395px;
  padding:0;
   
  }
    .inner-portfolio{
    height: 200px;
    width: 370px;

  }
  .portfolio-title{
     background-color: rgb(0, 0, 0);
  background-color: rgba(0,0,0,.75);
    height: 85px;
    width: 370px;
  }
}

/*Contact Me Styling */
.contact-me{
   min-height: 400px;
}

.contact-details{
  color: black;
}

.contact-link{
 color: #512DA8;
}
.contact-link:hover{
  text-decoration: none;
  color: black;
}
.contact-row{
  padding-top: 60px;
}

.contact-details{
  text-align: left;
}

@media(min-width: 786px){
  .contact-details{ 
    text-align: center;
  }
}

.contact-details h2{
  margin-top: 0;
}

.verticle-btn{
  text-align: left;
}

/* footer styling */
footer{
  height: 100px;
  background: #999999;
  color: black;
}


.footer-nav{
  padding-top: 10px;
}

.footer-item{
  display: inline-block;
  padding: 10px;
}

.footer-link{
 color: #512DA8;
 font-weight: bold;
}
.footer-link:hover{
  text-decoration: none;
  color: black;
}

.footer-text{
  padding-left: 50px;
}

